.profile {
    position: relative;
    box-sizing: border-box;
    padding-top: 29px;

    @media @bw1340 {
        padding: 23px 25px 0;
        
    }

    &__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        padding: 40px 30px 30px;
        background: @white;
        border-radius: 25px;

        @media @bw1340 {
            max-width: 100%;
            padding: 24px 20px 20px;
            border-radius: 15px;
        }
    }
    &__nav {
        box-sizing: border-box;
        display: flex;
        gap: 44px;
        width: 100%;
        max-width: 1050px;
        height: 30px;
        border-bottom: 1px solid @color--6;

        @media @bw1340 {
            max-width: 100%;
            padding: 0 5px;
            gap: 38px;
            justify-content: center;
        }
    }
    &__nav-link {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 114px;
        padding-bottom: 14px;
        color: @color--5;
        font-family: @font1;
        font-size: 16px;
        font-weight: @font_weight3;
        line-height: 1.188;
        text-align: center;
        text-decoration: none;
        transition: color 0.2s;
        cursor: pointer;
        @media @bw768 {
            max-width: 80px;
            font-size: 13px;
            line-height: 1.2;
        }
            &:hover {
                color: @color-hover;

            &::after {
                content: ''; 
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 114px;
                height: 3px;
                border-radius: 10px 10px 0 0;
                background: @color-hover;
                transition: background 0.3s;

                @media @bw1340 {
                    width: 80px;
                    height: 3px;
                }
            }
        }
    }

    &__wrapper {
        box-sizing: border-box;
        position: relative;
        margin-top: 51px;
        display: flex;
        width: 100%;
        gap: 53px;

        @media @bw1340 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 17px;
            gap: 23px;
        }
    }
    &__box1 {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 130px;
        height: 130px;
        margin-top: 2px;

        @media @bw1340 {
            max-width: 174px;
            height: 170px;
        }
    }
    &__pic {
        position: relative;
        display: block;
        margin: 0;
        width: 130px;
        height: 130px;
        border-radius: 50%; 
        text-decoration: none;
        overflow: hidden;
        @media @bw1340 {
            width: 170px;
            height: 170px;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            padding-top: 100%;
        }
    }
    &__img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__link {
        position: absolute;
        bottom: 16px;
        right: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        border-radius: 50%;
        background-color: @color-hover;
        color: @white;
        cursor: pointer;
        transition: color 0.3s;
        @media @bw1340 {
            bottom: 20px;
            right: 0;
            padding: 12px;
        }
        &:hover {
            background-color: @color--1;
        }
    }
    &__link-icon {
        width: 15px;
        height: 15px;
        fill: @white;
    }
}
.profile__nav-link:hover {
    color: @color-hover; 
}
.profile__nav-link:hover::after {
    background: @color-hover; 
}
.form-edit {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 865px;
    @media @bw1340 {
        max-width: 100%;
        padding: 0 20px;
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 22px;
        @media @bw1340 {
            gap: 14px;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 31px;
        @media @bw1340 {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 15px;
            
        }
    }

    &__btn {
        box-sizing: border-box;
        display: inline-flex;
        align-self: flex-end;
        justify-content: center;
        width: 190px;
        padding: 14px 20px;
        margin-top: 29px;
        border: none;
        border-radius: 15px;
        background-color: @color-hover;
        color: @white;
        font-family: @font1;
        font-size: 18px;
        font-weight: @font_weight3;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;

        @media @bw1340 {
            width: 100%;
            margin-top: 18px;
            padding: 11px 20px;
            border-radius: 9px;
            font-size: 15px;
        }
        &:hover {
            background-color: @color--1;
        }
    }
}
.field {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 11px;
        color: @black;
        font-family: @font1;
        font-size: 16px;
        font-weight: @font_weight2;
        line-height: 1.188;
        @media @bw1340 {
            font-size: 13px;
        }
    }
    &__input {
        box-sizing: border-box;
        border: 1px solid @border;
        border-radius: 15px;
        width: 418px;
        height: 50px;
        padding: 16px 20px;
        color: @color--3;
        font-family: @font1;
        font-size: 15px;
        font-weight: @font_weight2;


        @media @bw1340 {
            width: 285px;
            height: 40px;
            padding: 8px 14px 12px;
            border-radius: 10px;
            font-size: 12px;
        }
        &::placeholder {
            color: @color--3;
            font-family: @font1;
            font-size: 15px;
            font-weight: @font_weight2;
            @media @bw1340 {
                font-size: 12px;
            }
        }

    }
}
.js-dateField {
    position: relative;
    cursor: pointer; 
}

.js-dateField::after,
.js-dateField::before {
    content: "";
    position: absolute;
    top: 53px;
    width: 8px;
    height: 2px;
    background-color: @color--5; 
    transition: transform 0.2s;
    z-index: 10;
    @media @bw1340 {
        top: 43px;
    }
}

.js-dateField::after {
    right: 22px;
    transform: rotate(-45deg);
    @media @bw1340 {
        right: 19px;
    }
}

.js-dateField::before {
    right: 27px;
    transform: rotate(45deg);
    @media @bw1340 {
        right: 23px;
    }
}